/* Body Styles 
==============*/
.wrapper {
  text-align: center;
}

h3 {
  background: black;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

a {
  text-decoration: none;
}

/* Header
============== */
h2 {
  color: #0A343C;

}

.index {
  background: #28bdbe;
  color: #fff;
}


/* Navigation
=============== */
.nav {
  background: #000;
  color: #fff;
}

.nav a {
  color: #fff;
}

/* Footer 
===============*/
.footer {
  background: #edf3f3;
}


/* 
Pink: #E0A0AC; 
Teal: #24C2C4;

*/