/* div,
header,
section,
footer {
  border: 1px dotted red;
  } */

/* Table of Contents 
=====================================
  #baseline corrections
  #Site Styles
  #Media Queries

/* Typography (baseline corrections)
===================================== */ 
h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Biryani', Impact, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  word-spacing: 0.3rem;
}

h1 {
  color: #fff;
}

h2 {
  color: #1D2C3A;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.6rem;
  font-weight: 900;
  padding: 4rem 0 2rem 0;
}

h2:before, h2:after {
  background-color: #1D2C3A;
  content: '\a0';
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}

h2:before {
  margin-right:10px;
}

h2:after {
  margin-left:10px;
}

h3 {
  border-bottom: 1px solid #000;
  line-height: 0;
  margin-bottom: 4rem;
  padding: 0;
}

h3 span {
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 1rem;
  padding: 5px 15px ;
}

h4 {
  font-size: 2rem;
  font-weight: 900;
}

p {
 font-family: 'Roboto Slab', serif;
}

.logo {
  font-size: 2rem;
  padding-top: 2rem;
}

a {
 color: #2E4D5F;
}

a:hover {
  color: #000;
}



/* #Site Styles
===================================== */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-align: center;
}

body {
  min-width: 320px;
  font-family: 'Roboto Slab', serif;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  background: #000;
  color: #fff;
  word-spacing: 0.3rem;
  z-index: 1;
}


nav ul {
 list-style: none;
 margin-bottom: 0;
}

nav li {
  padding: 1rem;
  font-weight: 700;
  min-width: 80px;
  white-space: nowrap;
}

nav ul:last-child{
  padding-bottom: 2rem;
}

nav a,
.dropbtn {
  color: #c4cbcf;
  display: block;
  text-decoration: none;
  font-weight: 900;
}

nav a:hover {
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.dropdown > a:after {
  color: #fff;
  content: ' ▾';
}

.dropdown {
  position: relative;
    }

.dropdown-content {
  background-color: #999;
  display: none;
  min-width: 100%;
  position: absolute;
  top:100%;
  z-index: 1;
  }


.dropdown-content a {
  color: #fff;
  display: block;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
       -o-transition: color .1s ease-out, background .2s ease-in;
      -ms-transition: color .1s ease-out, background .2s ease-in;
     -moz-transition: color .1s ease-out, background .2s ease-in;
  -webkit-transition: color .1s ease-out, background .2s ease-in;
          transition: color .1s ease-out, background .2s ease-in;
  }


.dropdown-content a:hover {
  background: #999;
  color: #000;
  }


.dropdown:hover .dropdown-content {
  display: block;
  }


/* Backgrounds 
====================*/
.index {
  /*   background: url() repeat,
    background: url() repeat-x,
    #2D4D5E; */
    background: #2D4D5E;

  }

  .portfolio {
    background: url() repeat,
    background: url() repeat-x,
    #FFF;
  }

  footer {
   /*   background: url() repeat,
    background: url() repeat-x,
    #2D4D5E; */
    background: #C7D3DB;;
  }

  /* Header */
  .intro {
    color: white;
    font-size: 2rem;
  }

  /* Add padding after header section */
  .main-content {
    padding: 5rem 0 0 0;
  }

.blog-content {
   padding: 5rem 2rem 0 2rem;
}


  .photo {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .bieber {
  display: none;
}

.mycats {
  display: none;
}


/* Button Styles 
==================*/

.button {
  color: #c4cbcf;
  display: inline-block;
  font-weight: 900;
}

.button:hover {
  color: #fff;
  border-color: #fff;
}


 /* Footer 
 =================*/

 footer {
  padding: 2rem;
}


footer ul {
  list-style: none;
}

footer li {
 display: inline-block;
 padding-top: 1rem;
}

footer a {
  color: #c4cbcf;
}

footer a:hover {
 color: #fff;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}

.copyright {
  font-size: 1rem;
  display: block;
}

.round {
  background: #000;
  padding: 1rem;
  border-radius: 50%;
}

div.one-third.column{
  padding-bottom: 2rem;
}

/* #Page Styles
===================================== */
.blog p {
  text-align: left;
}



/* #Media Queries
===================================== */
/* Larger than mobile */
@media (min-width: 400px) {

}


/* Larger than phablet */
@media (min-width: 550px) {
  nav ul:last-child{
    padding-bottom: 0;
  }
  nav li {
    display: inline-block;
    margin-bottom: 0;
    min-width: 120px;
  }
  .one-third.column { 
    width: 100%; 
    margin-left: 0; 
  }

  .bieber {
    display: block;
  }

  .zippo {
    display: none;
  }

.dropdown-content {
  min-width: 200px;
  position: absolute;
  right: -50%;
  top:100%;
  }


}

/* Larger than tablet */
@media (min-width: 750px) {

  .one-third.column { 
    width: 30.6666666667%;
    margin-left: 2%;
  }

  nav ul {
    margin-top: 2%;
  }

  nav li {
    display: inline-block;
    margin-bottom: 0;
    min-width: 50px;
  }

  .bieber {
    display: none;
  }

  .mycats {
    display: block;
  }


}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}

